# ==============================================
# ZILA FOOD - ENVIRONMENT VARIABLES (TEMPLATE)
# ==============================================

# Gemini AI API Key
GEMINI_API_KEY=your_api_key_here

# Admin Authentication (SHA256 Hash)
ADMIN_PHONE_HASH=sha256$your_phone_hash_here
ADMIN_PASSWORD_HASH=sha256$your_password_hash_here

# Secret Key untuk session
SECRET_KEY=your_secret_key_here

# Secret key firebase
FIREBASE_CREDENTIALS=your_api_key_here
